extends ../partials/head
block content
  .background
    img.background-image.background-image--left(src="/res/images/sol2.svg")
    img.background-image.background-image--right(src="/res/images/sag2.svg")
  .form-wrapper
    .form-description
      h1 Tekrar Hoş Geldin!
      h2 Hesabına giriş yapmak ve markalara ulaşmak için aşağıdaki formu kullan.
    form.form
      label.field-wrapper.field-wrapper--email
        .field-icon.field-icon--email
        input.field.field--email(type="email", name="email", placeholder="E-mail")
      label.field-wrapper.field-wrapper--password
        .field-icon.field-icon--password
        input.field.field--password(type="password", name="password", placeholder="Şifre")
      input.button.button--submit(type="submit", value="Giriş Yap")
      a.link.link__highlighted.reset-password(href="#") Şifreni mi unuttun?
