extends ../partials/head
block content
  .password-reset-wrapper
    .password-reset-heading
      h1 Şifreni Sıfırla
      h2 Hesabının e-mailini gir
    if reset
      form.password-reset(method="POST", action="#")
        input.field(type="password", name="password", placeholder="Şifre")
        input.field(type="password", name="password2", placeholder="Şifre Doğrulama")
        input.button(type="submit", value="Sıfırla")
    else
      form.password-reset(method="POST", action="#")
        input.field(type="text", name="email", placeholder="E-mail")
        input.button(type="submit", value="Sıfırla")
  script var errors = !{JSON.stringify(errors).replace(/<\//g, '<\\/')}