extends ./partials/head
block content
  .error-content
    img.error-logo(src="/res/images/404.svg")
    .error-text
      span.error-primary.pink OH
      .error-secondary
        span.pink 404
        span.black HATASI
      span.error-primary.pink HAYIR