extends ./partials/head
block content
  .activate
    .activate-content
      h1.activate-heading Bize Katıl
      h2.activate-subheading Etkinliğine sponsor bulmak için hesabını aktive et.
      span.price 
        | 250 
        span.tl &#8378;
      span.pricesub Etkinlik gününe kadar
      a.button.button--join(href="https://iyzi.link/AASMzA") Hemen Katıl
    ul.benefits
      li.benefit
        img.benefit-image(src="/res/images/activate/handshake.svg")
        span.benefit-content Hızlı ve kolay sponsorluk süreci
      li.benefit
        img.benefit-image(src="/res/images/activate/share.svg")
        span.benefit-content Her alandan sponsor havuzuna erişim imkanı
      li.benefit
        img.benefit-image(src="/res/images/activate/airplane.svg")
        span.benefit-content Hızlı cevap garantisi
      li.benefit
        img.benefit-image(src="/res/images/activate/check.svg")
        span.benefit-content Etkinliğinize en uygun eşleşme