extends partials/head
block content
  .content-box.content-box--ana#ana
    .background
      img.background-image.background-image--left(src="/res/images/sol.svg")
      img.background-image.background-image--right(src="/res/images/sag.svg")
    img.logo(src="/res/images/logo.svg")
    .ana-content
      .description
        h1 Sponsor Bulmanın En Kolay Yolu
        h2 Sponsorlar. Sponsor Arayanlar. Tek Platform.
      .call-to-action
        a.button.button--call-to-action(href="/auth/register") Sponsor Bul
        a.link.link--call-to-action(href="/auth/sponsor-register") Sponsor Ol
    .brands
      ul
        li 
          img(src="/res/images/sponsors/arıkovanı.png")
        li 
          img(src="/res/images/sponsors/bakkaldan.png")
        li 
          img(src="/res/images/sponsors/Bautto.png")
        li 
          img(src="/res/images/sponsors/dimes.png")
        li 
          img(src="/res/images/sponsors/faladdin.png")
        li 
          img(src="/res/images/sponsors/ing.png")
        li 
          img(src="/res/images/sponsors/santral.png")
        li 
          img(src="/res/images/sponsors/scorp.png")
        li 
          img(src="/res/images/sponsors/shiftdelete.png")
        li 
          img(src="/res/images/sponsors/taft.png")
  .content-box.content-box--nedir#nedir
    .background
      img.background-image(src="/res/images/nedir.svg")
    .nedir-content
      .description
        h3 Sponsor Arayanlar ile Sponsorları Buluşturan Platform
        p Spoonsor'un geniş sponsor ağı, aradığınız her sponsora en kolay erişim imkanını sunar.
  .content-box.content-box--nasil#nasil
    .description
      h3 Nasıl Çalışır?
      p Hızlı. Kolay. Efektif.
    .nasils
      .nasil
        img.nasil-image(src="/res/images/nasil/1.svg")
        h3.nasil-heading Dosyanı Doldur
        p.nasil-description Etkinliğine ait önemli detayları profiline ekle.
      .nasil
        img.nasil-image(src="/res/images/nasil/2.svg")
        h3.nasil-heading Sponsorunu Seç
        p.nasil-description Etkinliğine en uygun sponsoru geniş sponsor ağımızdan bul.
      .nasil
        img.nasil-image(src="/res/images/nasil/3.svg")
        h3.nasil-heading Sponsor ile Görüş
        p.nasil-description Markaların sponsorluk yetkilileriyle birebir olarak görüş.
      .nasil
        img.nasil-image(src="/res/images/nasil/4.svg")
        h3.nasil-heading.pink Sponsorluğu Kap
  .content-box.content-box--neden#neden
    .neden-content
      .description
        h3 
          | Neden 
          strong Spoonsor
          | ?
      .neden-box-wrapper
        .neden-box
          img.neden-image(src="/res/images/hizli.svg")
          h4.neden-heading Hızlı Süreç
          p.neden-description Spoonsor, sponsorlarla birebir iletişim sağlayarak sponsor bulma sürecini hızlandırır.
        .neden-box
          img.neden-image(src="/res/images/uygun.svg")
          h4.neden-heading Uygun Eşleşme
          p.neden-description Spononsor, etkinlikle ilgili girdiğiniz bilgilere göre size en uygun sponsoru sunar.
        .neden-box
          img.neden-image(src="/res/images/garanti.svg")
          h4.neden-heading Sponsor Bulma Garantisi
          p.neden-description Spoonsor, etkinlik gerçekleşene kadar sponsor bulmanızı garantiler.
  .content-box.content-box--testimonials#testimonials
    .background
      img.background-image.background-image--left(src="/res/images/sol2.svg")
      img.background-image.background-image--right(src="/res/images/sag2.svg")
    .testimonials-content
      .testimonial.animated
        .testimonial-person
          .testimonial-person-image(style="background-image:url('/res/images/testimonials/fuckupnights.jpeg')")
          h4.testimonial-person-name İpek Çeliksöz
          span.testimonial-person-event Fuckup Nights
        p.testimonial-paragraph Fuckup Nights Istanbul'un XX. etkinliği için sponsor ihtiyacımıza Spoonsor.com hızır gibi yetişti. Web site üzerinden hızlı talep oluşturabilme ve tarafların sıkı takibi ile bir gün içinde sponsor bulduk. İyi ki varlar!
      .testimonial.animated.testimonial__hidden
        .testimonial-person
          .testimonial-person-image(style="background-image:url('/res/images/testimonials/malmun.jpeg')")
          h4.testimonial-person-name Dilay Yıldız
          span.testimonial-person-event MALMUN'18
        p.testimonial-paragraph Spoonsor.com ile iş birliği yapmaya başladıktan sonra konferansımız için meşrubat ve birçok gerekli sponsorları bulmamızı sağladığı için Spoonsor.com'a çok teşekkür ederiz!
      .testimonial.animated.testimonial__hidden
        .testimonial-person
          .testimonial-person-image(style="background-image:url('/res/images/testimonials/tedxkel.jpeg')")
          h4.testimonial-person-name Zeynep Göktürk
          span.testimonial-person-event TedX Kabataş High School
        p.testimonial-paragraph Spoonsor.com ile tanıştığımızda ikinci konferansımızın hazırlık aşamasındaydık. Konferans için gerekli gıda ve kırtasiye sponsorları bulmada son derece yardımcı oldu. Teşekkürler spoonsor.com!
  .content-box.content-box--veriler#veriler
    .background
      img.background-image(src="/res/images/veriler.svg")
    .veriler-content
      .description
        h3 Etkileşimler
      .veriler
        .veri
          h4.veri-content 12
          span.veri-description Sponsorluk Eşleşmesi
        .veri
          h4.veri-content= data.events
          span.veri-description Etkinlik
        .veri
          h4.veri-content= data.sponsors
          span.veri-description Sponsor
  .call-to-action.bottom-call-to-action
    a.button.button--call-to-action(href="/auth/register") Sponsor Bul
  .footer
    .footer-cols
      .footer-col-35
        .footer-row
          span.footer-row-heading İletişim
          span.footer-row-content hello@spoonsor.com
        .footer-row
          span.footer-row-heading Adres
          span.footer-row-content 
            | Kolektif House Levent
            br
            | Esentepe Mahallesi, Talatpaşa Cd. No:5,
            br
            | 34394 Şişli/İstanbul
        .footer-row.footer-social-media
          span.footer-row-heading Takipte kal
          .footer-row-content
            a(href="https://www.instagram.com/spoonsorcom")
              i.fab.fa-instagram
            a(href="https://www.linkedin.com/company/spoonsor/")
              i.fab.fa-linkedin-in
      .footer-col-35
        .footer-row
          span.footer-row-heading Hakkımızda
          ul.footer-row-content
            li Spoonsor
            li LOY
            li Toplulık
            li Gizlilik Politikası
            li Kullanıcı Sözleşmesi 
    a.loy-logo(href="https://www.instagram.com/loycommunity")
      span LOY
      img(src="/res/images/loy.svg")