extends partials/head
block content
  .items-wrapper
    .items
      each user in users
        .item
          h2.item-name= user.name
          .item-image(style="background-image: url('/res/uploads/" + user.profilepicture + "')")
          if user.description
            p.item-description
              =user.description
          .item-sponsorships
            each sponsorship in user.sponsorshipType
              span.item-sponsorship= sponsorship