/* content */
.content {
  width: 100vw;
  margin-top: 50px;
}
.content-box {
  width: 100vw;
  min-height: 550px;
  height: calc(100vh - 50px);
  position: relative;
}
.content-box--ana .background {
  width: 100vw;
  position: absolute;
  bottom: 14%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.content-box--ana .background .background-image {
  width: 400px;
  margin: 0 20px;
}
.ana-content {
  width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.content-box--ana .logo {
  width: 100px;
  position: absolute;
  top: 25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.ana-content h1 {
  font-size: 2.5em;
}
.content-box--ana .description {
  margin-bottom: 50px;
}
.call-to-action {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.call-to-action .button--call-to-action {
  background-color: #ff0083;
  -webkit-box-shadow: 0 0 24px rgba(255, 0, 131, 0.5);
  box-shadow: 0 0 24px rgba(255, 0, 131, 0.5);
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
  border: 3px solid #ff0083;
  letter-spacing: 1px;
}
.call-to-action .button--call-to-action:hover {
  -webkit-box-shadow: 0 0 36px rgba(255, 0, 131, 0.75);
  box-shadow: 0 0 36px rgba(255, 0, 131, 0.75);
}
.call-to-action .link--call-to-action {
  color: #ff0083;
  font-weight: 100;
}
.brands {
  background-color: #f0f0f0;
  height: 75px;
  width: 100vw;
  position: absolute;
  bottom: 0;
}
.brands ul {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
}
.brands li {
  margin: 0 10px;
}
.brands img {
  height: 65px;
  margin-top: 5px;
}
.content-box--nedir {
  border-bottom: 2px solid #707070;
}
.nedir-content {
  width: 750px;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.nedir-content h3 {
  font-size: 3em;
  color: #4a4a4a;
}
.nedir-content p {
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.5);
}
.content-box--nedir .background {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.content-box--nedir .background .background-image {
  width: 500px;
  margin-bottom: -2px;
}
.content-box--nasil {
  text-align: center;
  padding-top: 50px;
}
.content-box--nasil .description h3 {
  font-size: 3em;
  color: #4a4a4a;
}
.content-box--nasil .description p {
  margin-top: -15px;
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.5);
}
.nasil-image {
  width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nasil-box {
  width: 250px;
}
.nasil-arrow {
  width: 20px;
}
.nasil-box--1 {
  position: absolute;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nasil-box--2 {
  position: absolute;
  top: 57.5%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.nasil-heading {
  font-size: 1.75em;
  color: #4a4a4a;
}
.nasil-description {
  font-size: 1.25em;
  color: rgba(0, 0, 0, 0.5);
}
.neden-content {
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.neden-content .description h3 {
  font-size: 3em;
  color: #4a4a4a;
}
.neden-content .description h3 strong {
  color: #ff0083;
}
.neden-box-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.neden-box {
  margin: 25px;
  width: 200px;
}
.neden-image {
  width: 200px;
  height: 200px;
}
.neden-heading {
  font-size: 1.1em;
  width: 100%;
  color: #4a4a4a;
}
.neden-description {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
}
.content-box--testimonials .background {
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.content-box--testimonials .background-image {
  height: 90%;
}
.testimonials-content {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.testimonial {
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #ff0083;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-transition: 1s opacity ease;
  transition: 1s opacity ease;
  background-color: white;
}
.testimonial-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100px;
  flex-basis: 100px;
  margin-right: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.testimonial-person-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 15px;
}
.testimonial-person-name {
  color: #ff0083;
  margin-bottom: -5px;
}
.testimonial-person-event {
  font-weight: 100;
  font-size: 0.9em;
  color: #4a4a4a;
}
.testimonial-paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #4a4a4a;
}
.testimonial__hidden {
  opacity: 0;
}
.content-box--veriler .background {
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.content-box--veriler .background .background-image {
  width: 500px;
}
.veriler-content {
  width: 1000px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.veriler-content .description h3 {
  font-size: 3em;
  color: #4a4a4a;
}
.veriler {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.veri {
  margin: 25px;
  width: 200px;
  height: 200px;
  color: #ff0083;
  border: 1px solid #ff0083;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.veri-content {
  font-size: 3em;
}
.bottom-call-to-action {
  width: 240px;
  margin: 5% auto;
}
.footer {
  width: 100vw;
  background-color: #4a4a4a;
  color: white;
  padding: 25px;
  -webkit-box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.25);
  position: relative;
}
.footer-cols {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-col-35 {
  width: 35%;
  -ms-flex-preferred-size: 35%;
  flex-basis: 35%;
  margin-right: 25px;
}
.footer-row-heading {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 1.25em;
  text-transform: uppercase;
}
.footer-row-content {
  display: inline-block;
  width: 100%;
  font-weight: 100;
}
.footer-row-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-social-media {
  margin-top: 25px;
}
.footer-social-media i {
  font-size: 2em;
  margin-right: 25px;
}
.loy-logo {
  position: absolute;
  right: 25px;
  bottom: 10px;
}
.loy-logo img {
  height: 50px;
  float: right;
}
.loy-logo span {
  line-height: 55px;
  font-size: 1.5em;
  font-weight: 100;
  margin-right: 5px;
}

@media only screen and (max-width: 1100px) {
  .content-box--ana .background .background-image {
    width: 450px;
  }
  .content-box--ana .background .background-image--left {
    margin-left: -15%;
  }
  .content-box--ana .background .background-image--right {
    margin-right: -15%;
  }

  .content-box--nasil {
    text-align: center;
    padding-top: 50px;
  }
  .nasil-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80%;
  }
  .nasil-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-transform: none;
    transform: none;
    position: static;
  }
  .nasil-image {
    width: 400px;
    position: static;
    -webkit-transform: none;
    transform: none;
  }
  .content-box--testimonials .background {
    width: 140%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .veriler-content {
    width: 100vw;
    top: 25%;
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .veri {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
  }
}
@media only screen and (max-width: 900px) {
  .brands ul {
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .nasil-image {
    -webkit-box-flex: 0.75;
    -ms-flex: 0.75;
    flex: 0.75;
  }
  .nasil-heading {
    font-size: 1.25em;
    color: #4a4a4a;
  }
  .nasil-description {
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
  }
  .neden-box-wrapper {
    margin: 0 auto;
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .neden-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .neden-box {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .neden-image {
    width: 100%;
  }
  .content-box--testimonials .background {
    width: 150%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .testimonial {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 20px;
  }
  .testimonial-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0;
  }
  .testimonial-person-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .testimonial-person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .testimonial-paragraph {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
  }
  .testimonials-content {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .veriler-content {
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .veri {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin: 0;
    -ms-flex-preferred-size: 30vw;
    flex-basis: 30vw;
    width: 30vw;
    height: 30vw;
    margin-bottom: 20px;
  }
  .content-box--veriler .background {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .content-box--ana .background .background-image {
    width: 450px;
  }
  .content-box--ana .background .background-image--left {
    margin-left: -35%;
  }
  .content-box--ana .background .background-image--right {
    margin-right: -35%;
  }
  .nedir-content {
    width: 95vw;
  }
  .nedir-content h3 {
    font-size: 2em;
    color: #4a4a4a;
  }
  .nedir-content p {
    font-size: 1.1em;
    color: rgba(0, 0, 0, 0.5);
  }
}
@media only screen and (max-width: 700px) {
  .testimonials-content {
    width: 80%;
  }
  .content-box--neden {
    height: auto;
  }
  .ana-content {
    width: 95vw;
  }
  .nasil-box-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 80%;
  }
  .nasil-arrow {
    display: none;
  }
  .nasil-box {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    margin-bottom: 20px;
  }
  .nasil-image {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .content-box--neden {
    height: auto;
  }
  .neden-box-wrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .neden-box {
    width: 100%;
  }
  .neden-content {
    position: static;
    -webkit-transform: none;
    transform: none;
  }
  .footer-cols {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer-col-35 {
    width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .footer-col-35:first-of-type .footer-row:not(:first-of-type) {
    margin: 25px 0;
  }
  .footer-social-media {
    margin-top: 25px;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    padding: 5px;
  }
  .brands {
    height: 50px;
  }
  .brands img {
    height: 40px;
  }
  .content-box--ana .background {
    display: none;
  }
  .veriler-content {
    width: 100vw;
    position: static;
    -webkit-transform: none;
    transform: none;
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
  }
  .veri {
    -ms-flex-preferred-size: 45vw;
    flex-basis: 45vw;
    width: 45vw;
    height: 45vw;
  }
  .call-to-action {
    width: 60%;
  }
  .content-box--veriler {
    height: auto;
  }
}
