/* content */
.content {
  width: 100vw;
  margin-top: 50px;
}
.content-box {
  width: 100vw;
  min-height: 550px;
  height: calc(100vh - 50px);
  position: relative;
}
.content-box--ana .background{
  width: 100vw;
  position: absolute;
  bottom: 14%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.content-box--ana .background .background-image {
  width: 400px;
  margin: 0 20px;
}
.ana-content {
  width: 600px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.ana-content .logo {
  width: 100px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.ana-content h1 {
  font-size: 2.5em;
}
.content-box--ana .description {
  margin-bottom: 50px;
}
.call-to-action {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.call-to-action .button--call-to-action {
  background-color: #FF0083;
  box-shadow: 0 0 24px rgba(255, 0, 131, .5);
  color: white;
  padding: 10px;
  width: 100%;
  margin-bottom: 5px;
  font-size: 1.2em;
  transition: .25s ease all;
  border: 3px solid #FF0083;
  letter-spacing: 1px;
}
.call-to-action .button--call-to-action:hover {
  box-shadow: 0 0 36px rgba(255, 0, 131, .75);
}
.call-to-action .link--call-to-action {
  color: #FF0083;
  font-weight: 100;
}
.brands {
  background-color: #f0f0f0;
  height: 12.5%;
  width: 100vw;
  position: absolute;
  bottom: 0;
}
.brands ul {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.brands ul li{
  font-family: 'PT Serif', serif;
  color: rgba(0, 0, 0, .5);
  font-weight: 700;
  font-size: 1.2em;
}
.content-box--nedir {
  border-bottom: 2px solid #707070;
}
.nedir-content{
  width: 750px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.nedir-content h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, .75);
}
.nedir-content p {
  font-size: 1.25em;
  color: rgba(0, 0, 0, .5);
}
.content-box--nedir .background{
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content-box--nedir .background .background-image {
  width: 500px;
  margin-bottom: -2px;
}
.content-box--nasil{
  text-align: center;
  padding-top: 50px;
}
.content-box--nasil .description h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, .75);
}
.content-box--nasil .description p {
  margin-top: -15px;
  font-size: 1.25em;
  color: rgba(0, 0, 0, .5);
}
.nasil-image {
  width: 400px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.nasil-box {
  width: 250px;
}
.nasil-arrow {
  width: 20px;
}
.nasil-box--1 {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.nasil-box--2 {
  position: absolute;
  top: 57.5%;
  left: 75%;
  transform: translate(-50%, -50%);
}
.nasil-heading {
  font-size: 1.75em;
  color: rgba(0, 0, 0, .75);
}
.nasil-description {
  font-size: 1.25em;
  color: rgba(0, 0, 0, .5);
}
.neden-content{
  width: 1000px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.neden-content .description h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, .75);
}
.neden-content .description h3 strong {
  color: #FF0083;
}
.neden-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.neden-box {
  margin: 25px;
  width: 200px;
}
.neden-image {
  width: 200px;
  height: 200px;
}
.neden-heading {
  font-size: 1.1em;
  width: 100%;
  color: rgba(0, 0, 0, .75);
}
.neden-description {
  font-size: .9em;
  color: rgba(0, 0, 0, .5);
}
.content-box--testimonials .background{
  width: 120%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -10%;
  z-index: -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-box--testimonials .background-image {
  height: 90%;
}
.testimonials-content {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.testimonial {
  border-radius: 5px;
  padding: 50px;
  border: 1px solid #FF0083;
  display: flex;
  position: absolute;
  transition: 1s opacity ease;
  background-color: white;
}
.testimonial-person {
  display: flex;
  flex-basis: 100px;
  margin-right: 50px;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
.testimonial-person-image {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-bottom: 15px;
}
.testimonial-person-name {
  color: #FF0083;
  margin-bottom: -5px;
}
.testimonial-person-event {
  font-weight: 100;
  font-size: .9em;
  color: rgba(0, 0, 0, .75);
}
.testimonial-paragraph {
  display: flex;
  flex: 3;
  align-items: center;
  color: rgba(0, 0, 0, .75);
}
.testimonial__hidden {
  opacity: 0;
}
.content-box--veriler .background{
  width: 100vw;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.content-box--veriler .background .background-image {
  width: 500px;
}
.veriler-content{
  width: 1000px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.veriler-content .description h3 {
  font-size: 3em;
  color: rgba(0, 0, 0, .75);
}
.veriler {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.veri {
  margin: 25px;
  width: 200px;
  height: 200px;
  color: #FF0083;
  border: 1px solid #FF0083;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.veri-content {
  font-size: 3em;
}
.bottom-call-to-action {
  width: 240px;
  margin-top: 5%;
}

@media only screen and (max-width: 1100px) {
  .content-box--ana .background .background-image  {
    width: 450px;
  }
  .content-box--ana .background .background-image--left {
    margin-left: -15%;
  }
  .content-box--ana .background .background-image--right {
    margin-right: -15%;
  }

  .content-box--nasil{
    text-align: center;
    padding-top: 50px;
  }
  .nasil-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .nasil-box {
    flex: 1;
    transform: none;
    position: static;
  }
  .nasil-image {
    width: 400px;
    position: static;
    transform: none;
  }
  .content-box--testimonials .background{
    width: 140%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -20%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .veriler-content{
    width: 100vw;
    top: 25%;
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .veri {
    display: flex;
    margin: 0;
  }
}
@media only screen and (max-width: 900px) {
  .nasil-image {
    flex: .75;
  }
  .nasil-heading {
    font-size: 1.25em;
    color: rgba(0, 0, 0, .75);
  }
  .nasil-description {
    font-size: 1em;
    color: rgba(0, 0, 0, .5);
  }
  .neden-box-wrapper {
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .neden-content{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .neden-box {
    flex: 1;
  }
  .neden-image {
    width: 100%;
  }
  .content-box--testimonials .background{
    width: 150%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -25%;
    z-index: -1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .testimonial {
    flex-direction: column;
    padding: 20px;
  }
  .testimonial-person {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0;
  }
  .testimonial-person-image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 15px;
  }
  .testimonial-person {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .testimonial-paragraph {
    flex: 1;
    text-align: center;
  }
  .testimonials-content {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .veriler-content{
    width: 80vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .veri {
    flex: 0;
    margin: 0;
    flex-basis: 30vw;
    width: 30vw;
    height: 30vw;
    margin-bottom: 20px;
  }
  .content-box--veriler .background {
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .content-box--ana .background .background-image  {
    width: 450px;
  }
  .content-box--ana .background .background-image--left {
    margin-left: -35%;
  }
  .content-box--ana .background .background-image--right {
    margin-right: -35%;
  }
  .nedir-content{
    width: 95vw;
  }
  .nedir-content h3 {
    font-size: 2em;
    color: rgba(0, 0, 0, .75);
  }
  .nedir-content p {
    font-size: 1.1em;
    color: rgba(0, 0, 0, .5);
  }
}
@media only screen and (max-width: 700px) {
  .testimonials-content {
    width: 80%;
  }
  .content-box--neden {
    height: auto;
  }
  .ana-content {
    width: 95vw;
  }
  .nasil-box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  .nasil-arrow {
    display: none;
  }
  .nasil-box {
    flex: 0;
    margin-bottom: 20px;
  }
  .nasil-image {
    flex: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .content-box--neden {
    height: auto;
  }
  .neden-box-wrapper {
    width: 80%;
    flex-direction: column;
  }
  .neden-box {
    width: 100%;
  }
  .neden-content {
    position: static;
    transform: none;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    padding: 5px;
  }
  .brands {
    height: 10%;
  }
  .brands ul {
    width: 100%;
  }
  .brands ul li{
    font-size: 1em;
  }
  .content-box--ana .background {
    display: none;
  }
  .veriler-content{
    width: 100vw;
    position: static;
    transform: none;
  }
  .veriler {
    margin-top: 5%;
    width: 100%;
  }
  .veri {
    flex-basis: 45vw;
    width: 45vw;
    height: 45vw;
  }
  .ana-content .logo {
    margin-top: 100px;
  }
  .call-to-action {
    width: 60%;
  }
}