h2 {
  text-align: center;
}
.main-info {
  margin-bottom: 25px;
  text-align: center;
}
.user-image {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.edit-button {
  margin-bottom: 10px;
  display: block;
}
.edit-button i,
.edit-button h3 {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  transition: .25s ease all;
}
.edit-button i {
  font-size: 1em;
}
.edit-button h3 {
  font-weight: 500;
  font-size: 1.2em;
}
.edit-button:hover i,
.edit-button:hover h3 {
  color: #ff0083;
}
.user-description {
  width: 75%;
  text-align: center;
  margin: 0 auto;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}
.user-details-wrapper--current,
.user-details-wrapper--old {
  background-color: #f9f9f9;
}
.user-details {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto;
  padding: 25px;
}
.user-details-wrapper--current .user-detail,
.user-details-wrapper--old .user-detail {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.user-detail {
  padding: 25px;
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  justify-content: flex-start;
}
hr {
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.user-detail-image {
  width: 100px;
  height: 100px;
  margin-right: 25px;
}
.user-detail-content {
  flex: 1;
}
.user-detail__half {
  width: 45%;
}
.user-detail-half-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-detail__right-half {
  margin-left: auto;
}
.user-detail-name {
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.75);
  font-weight: 700;
}
.user-detail-value {
  display: inline-block;
  width: 100%;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.25em;
}
.user-detail-old-heading {
  font-size: 2.5em;
  font-weight: 900;
  padding-top: 25px;
}

@media only screen and (max-width: 900px) {

}
@media only screen and (max-width: 750px) {
  .user-details {
    width: 100vw;
  }
  .user-details-image {
    width: 10%;
  }
  .user-detail__half {
    width: 100%;
  }
  .user-detail-half-wrapper {
    display: block;
  }
}
@media only screen and (max-width: 500px) {
}