* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Hind", sans-serif;
  outline: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.wrapper {
  overflow-x: hidden;
  width: 100vw;
}
h1 {
  font-family: "PT Serif", serif;
  color: #4a4a4a;
  font-weight: 300;
}
h2 {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 100;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.content {
  margin-top: 50px;
}
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* error modal */
.error-modal-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: none;
  opacity: 0;
  -webkit-transition: 0.5s ease all;
  transition: 0.5s ease all;
}
.error-overlay {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.error-modal {
  width: 50vw;
  min-height: 70vh;
  background-color: white;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 4;
  border-radius: 10px;
  overflow: scroll;
  padding: 50px;
}
.error-modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  color: #4a4a4a;
  z-index: 5;
  font-size: 1.5em;
  cursor: pointer;
}
.error-title {
  text-align: center;
  color: #4a4a4a;
  font-weight: 900;
  font-size: 3em;
}
.error-description {
  padding: 20px 100px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  list-style-type: disc;
  font-size: 1.25em;
}

@media only screen and (max-width: 1000px) {
  .error-description {
    padding: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .error-modal {
    width: 80vw;
  }
}
@media only screen and (max-width: 550px) {
  .error-modal {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }
}
