/* general */
.button {
  text-transform: uppercase;
  display: block;
  font-weight: 900;
  border-radius: 5px;
}
/* header */
.header {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  background-color: white;
  z-index: 2;
}
.header-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav,
.header .logo-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.header .logo-wrapper {
  opacity: 0;
  -webkit-transition: 0.1s ease all;
  transition: 0.1s ease all;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.header .logo-wrapper a {
  height: 40px;
  width: 64px;
}
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.link--highlighted {
  color: #ff0083;
  font-weight: 500;
}
.nav--auth .button-wrapper {
  width: 30%;
  text-align: center;
}
.nav--auth .button {
  color: #ff0083;
  padding: 5px;
  font-size: 0.8em;
}
.nav--auth .button--register {
  border: 2px solid #ff0083;
}
@media only screen and (max-width: 800px) {
  .nav {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
  }
}
@media only screen and (max-width: 700px) {
  .nav {
    -webkit-box-flex: 4;
    -ms-flex: 4;
    flex: 4;
  }
}
@media only screen and (max-width: 500px) {
  .header .logo-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: none;
  }
  .nav {
    font-size: 0.8em;
  }
  .header {
    padding: 5px;
  }
  .nav--auth .button-wrapper {
    width: 40%;
  }
}
