/* general */
.button {
  text-transform: uppercase;
  display: block;
  font-weight: 900;
  border-radius: 5px;
}
/* header */
.header {
  height: 50px;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .15);
  background-color: white;
  z-index: 2;
}
.header-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header .logo-wrapper {
  height: 40px;
  width: 64px;
  margin-left: 50px;
}
.header .logo-wrapper .logo {
  height: 40px;
  width: 64px;
}
.header .dilara {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-image: url('/res/images/dilara.jpeg');
  background-size: cover;
  background-position: 40%;
  background-repeat: no-repeat;
}
.header-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.nav,
.header .logo-wrapper {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}
.header .logo-wrapper {
  align-items: center;
  justify-content: center;
}
.header .logo-wrapper a {
  height: 40px;
  width: 64px;
  flex: 1;
  display: flex;
}
.header .logo {
  height: 40px;
  width: 64px;
}
.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.link--highlighted {
  color: #FF0083;
  font-weight: 500;
}
.nav--auth .button-wrapper {
  text-align: center;
}
.nav--auth .button {
  color: #FF0083;
  padding: 5px;
  font-size: .8em;
}
@media only screen and (max-width: 500px) {
  .header .logo-wrapper {
    margin-left: 0;
  }
}