extends ../partials/head
block content
  .filters-wrapper
    span.filter.button--filter.open-filter-modal
      i.fas.fa-plus.button--add-filter 
      | Filtre ekle
    .filters
  .items-wrapper
    .items
      each user in users
        .item
          input.item-id(type="hidden", value=user.id)
          h2.item-name.open-profile= user.name
          .item-image.open-profile(style="background-image: url('/res/uploads/" + user.profilepicture + "')")
          if user.description
            p.item-description
              =user.shortenedDescription
              if user.shortenedDescription !== user.description
                |...
              a.open-profile  Daha fazla gör 
          .item-sponsorships
            each sponsorship in user.sponsorshipType
              span.item-sponsorship= sponsorship
    .filter-modal-wrapper
      .overlay.close-filter-modal
      .filter-modal
        i.fas.fa-times.modal-close-button.close-filter-modal
        h2.filter-modal-heading Filtrele
        .modal-filters
          .modal-filter
            span.modal-filter-heading 
              | İstediği sponsorluğa göre filtrele
              i.fas.fa-chevron-down.modal-filter-reveal
            .modal-filter-content
              .radios.radios--sponsorshiptype
                label.radio-wrapper.radio-wrapper--small-font
                  input.radio(type="checkbox", name="sponsorshiptype", value="İçerik/Konuşmacı") 
                  .styled-radio
                  span.radio-label İçerik/Konuşmacı
                label.radio-wrapper.radio-wrapper--small-font
                  input.radio(type="checkbox", name="sponsorshiptype", value="İndirim/Hediye Kuponu")
                  .styled-radio
                  span.radio-label İndirim/Hediye Kuponu
                label.radio-wrapper
                  input.radio(type="checkbox", name="sponsorshiptype", value="Mekan") 
                  .styled-radio
                  span.radio-label Mekan
                label.radio-wrapper
                  input.radio(type="checkbox", name="sponsorshiptype", value="Nakit") 
                  .styled-radio
                  span.radio-label Nakit
                label.radio-wrapper
                  input.radio(type="checkbox", name="sponsorshiptype", value="Stand") 
                  .styled-radio
                  span.radio-label Stand
                label.radio-wrapper
                  input.radio(type="checkbox", name="sponsorshiptype", value="Tanıtım") 
                  .styled-radio
                  span.radio-label Tanıtım
                label.radio-wrapper
                  input.radio(type="checkbox", name="sponsorshiptype", value="Ürün") 
                  .styled-radio
                  span.radio-label Ürün
          .modal-filter
            span.modal-filter-heading 
              | Etkinlik türüne göre filtrele
              i.fas.fa-chevron-down.modal-filter-reveal
            .modal-filter-content
              .radios.radios--type
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Festival/Fuar") 
                  .styled-radio
                  span.radio-label Festival/Fuar
                label.radio-wrapper.radio-wrapper--small-font
                  input.radio(type="checkbox", name="type", value="Kar Amacı Gütmeyen Etkinlik") 
                  .styled-radio
                  span.radio-label Kar Amacı Gütmeyen Etkinlik
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Konferans") 
                  .styled-radio
                  span.radio-label Konferans
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Kongre") 
                  .styled-radio
                  span.radio-label Kongre
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Konser") 
                  .styled-radio
                  span.radio-label Konser
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Networking&Buluşma") 
                  .styled-radio
                  span.radio-label Networking&amp;Buluşma
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Parti") 
                  .styled-radio
                  span.radio-label Parti
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Sergi") 
                  .styled-radio
                  span.radio-label Sergi
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Söyleşi/Seminer") 
                  .styled-radio
                  span.radio-label Söyleşi/Seminer
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Turnuva") 
                  .styled-radio
                  span.radio-label Turnuva
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Workshop") 
                  .styled-radio
                  span.radio-label Workshop
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Yarışma") 
                  .styled-radio
                  span.radio-label Yarışma
                label.radio-wrapper
                  input.radio(type="checkbox", name="type", value="Yemek/Gala") 
                  .styled-radio
                  span.radio-label Yemek/Gala
          .modal-filter
            span.modal-filter-heading 
              | Etkinlik konusuna göre filtrele
              i.fas.fa-chevron-down.modal-filter-reveal
            .modal-filter-content
              .radios.radios--subject
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Bilim&Teknoloji") 
                  .styled-radio
                  span.radio-label Bilim&amp;Teknoloji
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Çevre") 
                  .styled-radio
                  span.radio-label Çevre
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Eğitim") 
                  .styled-radio
                  span.radio-label Eğitim
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Eğlence") 
                  .styled-radio
                  span.radio-label Eğlence
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Girişimcilik") 
                  .styled-radio
                  span.radio-label Girişimcilik
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="İnsan Hakları") 
                  .styled-radio
                  span.radio-label İnsan Hakları
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="İş Hayatı") 
                  .styled-radio
                  span.radio-label İş Hayatı
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Kişisel Gelişim") 
                  .styled-radio
                  span.radio-label Kişisel Gelişim  
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Kültür&Sanat") 
                  .styled-radio
                  span.radio-label Kültür&amp;Sanat
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Medya") 
                  .styled-radio
                  span.radio-label Medya
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Moda/Güzellik") 
                  .styled-radio
                  span.radio-label Moda/Güzellik
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Model United Nations") 
                  .styled-radio
                  span.radio-label Model United Nations
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Münazara") 
                  .styled-radio
                  span.radio-label Münazara
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Müzik") 
                  .styled-radio
                  span.radio-label Müzik
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Sağlık") 
                  .styled-radio
                  span.radio-label Sağlık
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Spor") 
                  .styled-radio
                  span.radio-label Spor
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Topluluk") 
                  .styled-radio
                  span.radio-label Topluluk
                label.radio-wrapper
                  input.radio(type="checkbox", name="subject", value="Yeme/İçme") 
                  .styled-radio
                  span.radio-label Yeme/İçme
        input.button.filter-submit-button(type="submit", value="Filtrele")   
    script let users = !{JSON.stringify(users).replace(/<\//g, '<\\/')}