extends ../partials/head
block content
  .users-wrapper
    .search-users
      input.field(type="text", name="searchusers", placeholder="Ara")
      i.fas.fa-search
    ul.users
      each messagedUser in messagedUsers
        li.user
          .user-image(style="background-image: url('/res/uploads/" + messagedUser.user.profilepicture + "')")
          .user-content
            h2.user-name= messagedUser.user.name
            p.user-message= messagedUser.message
  .messages-wrapper
    span.messages-background-notice Mesajları görüntülemek için sol taraftan bir görüşme seçin
  .user-wrapper
    .user-image(style="background-image: url('/res/uploads/default.jpg')")
    h2.user-name Sponsor
    p.user-description Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae totam optio est pariatur mollitia consequuntur quisquam praesentium culpa deserunt, repudiandae, numquam quos error a, ducimus saepe vitae. Voluptates, consequatur natus.Voluptates, temporibus repellat voluptatem aut facere culpa animi minus nesciunt neque at atque sit facilis recusandae veritatis. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique natus consequatur impedit officia velit obcaecati omnis. Architecto dolores harum nesciunt, magnam quasi exercitationem facere eveniet nam veritatis aperiam ipsam ducimus!
    .user-sponsorships
      span.user-sponsorship İçerik
      span.user-sponsorship Mekan
      span.user-sponsorship Yeme&amp;İçme
  .modal-wrapper
    .overlay.close-modal
    .modal
      i.fas.fa-times.modal-close-button.close-modal
      .modal-image-wrapper
        .modal-image(style="background-image: url('')")
        h2.modal-title
      .modal-sponsorships
      p.modal-description Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga numquam iste quis ad voluptatem mollitia itaque delectus inventore hic, vero dolores provident nobis, vel porro saepe magni quas error adipisci!Laudantium, eius minus dicta amet eos iste et quia ducimus velit ad totam, maxime aliquid esse error corporis blanditiis voluptatum reprehenderit earum aperiam architecto praesentium nesciunt? Quidem placeat laudantium distinctio?