extends ../partials/head
block content
  .filters-wrapper
    span.filter.button--filter.open-filter-modal
      i.fas.fa-plus.button--add-filter 
      | Filtre ekle
    .filters
  .filter-modal-wrapper
    .filter-modal
      span.modal-filter-heading Verebileceği sponsorluğa göre filtrele
      .modal-filter-content
        .radios
          label.radio-wrapper.radio-wrapper--small-font
            input.radio(type="checkbox", name="sponsorshiptype", value="İçerik/Konuşmacı") 
            .styled-radio
            span.radio-label İçerik/Konuşmacı
          label.radio-wrapper.radio-wrapper--small-font
            input.radio(type="checkbox", name="sponsorshiptype", value="İndirim/Hediye Kuponu")
            .styled-radio
            span.radio-label İndirim/Hediye Kuponu
          label.radio-wrapper
            input.radio(type="checkbox", name="sponsorshiptype", value="Mekan") 
            .styled-radio
            span.radio-label Mekan
          label.radio-wrapper
            input.radio(type="checkbox", name="sponsorshiptype", value="Nakit") 
            .styled-radio
            span.radio-label Nakit
          label.radio-wrapper
            input.radio(type="checkbox", name="sponsorshiptype", value="Stand") 
            .styled-radio
            span.radio-label Stand
          label.radio-wrapper
            input.radio(type="checkbox", name="sponsorshiptype", value="Tanıtım")
            .styled-radio
            span.radio-label Tanıtım
          label.radio-wrapper
            input.radio(type="checkbox", name="sponsorshiptype", value="Ürün") 
            .styled-radio
            span.radio-label Ürün
      input.button.filter-submit-button(type="submit", value="Filtrele")   
  .items-wrapper
    .items
      each user in users
        .item
          input.item-id(type="hidden", value=user.id)
          h2.item-name.open-profile= user.name
          .item-image.open-profile(style="background-image: url('/res/uploads/" + user.profilepicture + "')")
          if user.description
            p.item-description
              =user.shortenedDescription
              if user.shortenedDescription !== user.description
                |...
                a.open-profile  Daha fazla gör 
          .item-sponsorships
            each sponsorship in user.sponsorshipType
              span.item-sponsorship= sponsorship
    script var users = !{JSON.stringify(users).replace(/<\//g, '<\\/')}